@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 20px;
}

.container{
    padding: 5px 20px;
}

.pro__pic{
    display: inline-block;
}
.pro__pic > img{
    width: 90px;
    border-radius: 45px;
    margin-top: 10px;
}

.pro__info{
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 400px;
}

.pro__info > p{
    padding: 5px;
    font-size: 24px;
}

.pro__info > p:nth-child(1){
    font-weight: bold;
}

.fol__button{
    display: inline-block;
    font-size: 26px;
    vertical-align: top;
    padding: 10px 15px;
    background-color: rgb(105, 150, 247);
    color: white;
    margin-top: 20px;
    border-radius: 10px;
}

.fol__button:hover{
    cursor: pointer;
    background-color: rgb(39, 104, 245);
}