<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>
</head>
<body>
    
    <div clas="video">
        <div class="video__thumb">
            <img src="posters/" alt="">
        </div>
        <div class="video__lowers">
            <div class="channel__thumb">
                <img src="posters/" alt="">
            </div>
            <div class="video__info">
                <p>1Lorem ipsum dolor sit amet.</p>
                <p>Lorem</p>
                <p>4.8M views &middot; 1 year ago</p>
            </div>
        </div>
    </div>
    <div clas="video">
        <div class="video__thumb">
            <img src="posters/" alt="">
        </div>
        <div class="video__lowers">
            <div class="channel__thumb">
                <img src="posters/" alt="">
            </div>
            <div class="video__info">
                <p>2Lorem ipsum dolor sit amet.</p>
                <p>Lorem</p>
                <p>4.8M views &middot; 1 year ago</p>
            </div>
        </div>
    </div>
</body>
</html>